* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.logo {
    width: 7vw;
}

nav {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #446061; */
    /* position: fixed; */
}

ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li {
    font-size: 2rem;
    text-transform: uppercase;
}

header nav ul li:hover {
    width: 25%;
    text-align: center;
    border: solid 3px;
}

header h2 {
    font-size: 5rem;
    text-transform: uppercase;
    position: absolute;
    left: 45%;
    top: 50vh;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F4F1;
    justify-content: center;
}


main h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    margin-top: 3rem;
    color: #373737;
}

main div {
    width: 8vw;
    height: 0.5rem;
    background-color: #373737;
    margin-top: 1rem;
}

/* section recipes */

.sectionRecipes {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.boxImg {
    width: 30%;
    height: 60vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.boxImg div {
    width: 4vw;
    height: 0.5rem;
    background-color: #373737;
}

.boxImg img {
    width: 80%;
    border: solid 1px;
}

.boxImg h3 {
    font-size: 2rem;
}

/* section spoon */

.spoon {
    width: 100%;
    /* height: 60vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.boxSpoon {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
}

.boxSpoon h2 {
    margin-top: 4rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: #373737;
}

.boxSpoon p {
    width: 50%;
    font-size: 1.4rem;
    color: #373737;
}


/* section form */

.form {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #DFE4DE;
    color: #373737;
}

.form h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    margin: 2rem;
}

.form h3 {
    font-size: 2rem;
    margin: 2rem;

}

.form input {
    width: 30vw;
    height: 10vh;
    padding-left: 2rem;
    font-size: 2rem;
}

button {
    width: 15vw;
    height: 10vh;
    border: solid 4px;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin: 2rem;
}

/* footer */

footer {
    background-color: #F2F4F1;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

footer figure {
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer figure img {
    /* width: 10%; */
    height: 7vh;
    background-color: gray;
    border-radius: 50%;
}

footer nav {
    width: 50%;
}

footer nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}




/* gambiarra do "bem", porque não quero arrumar o css para colocar os direitos */

article {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #446061;
    color: #FFFFFF;
    font-size: 1.2rem;
}